<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92589613764-ft7lj04lh8kdeg4tcrsmdqkjt246nira.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92589613764-ft7lj04lh8kdeg4tcrsmdqkjt246nira</string>
	<key>API_KEY</key>
	<string>AIzaSyBFLzjxnABJdm2QewmZf84_jivXsjSFWR0</string>
	<key>GCM_SENDER_ID</key>
	<string>92589613764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.joelstore</string>
	<key>PROJECT_ID</key>
	<string>joelstore-7ea2d</string>
	<key>STORAGE_BUCKET</key>
	<string>joelstore-7ea2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92589613764:ios:1290f4f55a1a8eded29f91</string>
</dict>
</plist>